/* copied from 960_16 */
#details-list > div {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	
}
/* grid_2 */
#details-list > :not(.detail) {
	width: 100px;
}
/* grid_5 push_1 */
#details-list > .detail {
	left: 60px;
	width: 280px;
}

/* CUSTOM CSS */

#details-list {
	padding: 5px 10px;
	overflow:auto;
}