.brightgreen {
	background-color:#95D495;
}

* {
	font-family: Verdana;
	box-sizing: border-box;
}

#main {
	padding-top:10px;
	padding-bottom:10px;
}

.form-container {
	padding:5px 10px;
	overflow:auto;
}