/* copied from 960_16 grid_3 */
.container_16 .row > div, #preview {
	width: 160px;
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

/* CUSTOM CSS */

.row.col-description > div {
	font-size:1.1em;
	height: 40px;
	line-height: 30px;
}

.row.col-description .today {
	background-color: #CB8;
}

.cell {
	font-size: 0.72em;
}

.row .row-time {
	line-height:50px;
}

.row > div, .cell {
	margin:4px 0px;
	text-align:center;
	padding:3px 0px;
	height: 60px;
	position:relative;
	background-color:#9D9;
}
.cell.lecture {
	background-color:#EC6;
}
.cell.practice {
	background-color:#CA4;
}
.cell:not(.cell-empty) {
	cursor:pointer;
}
.cell.cell-empty {
	background-color:inherit;
}

.cell .cell-name {
	margin-top:3px;
}

.cell .cell-room {
	position:absolute;
	width:160px;
	bottom:0px;
	
	line-height:140%;
}

.cell .sign {
	top:-3px;
	left:0px;
	position:absolute;
	font-size:0.8em;
	background-color:#B83;
}

.cell.lecture .cell-room {
	background-color: #DA5;
}
.cell.practice .cell-room {
	background-color: #B83;
}

.cell:not(.selected) {
	border-top: 3px solid transparent;
}
.cell.selected {
	border-top: 3px solid red;
}
.cell.past {
	background-color:#BBA;
}
.cell.past .cell-room {
	background-color:#998;
}